<html>

<head>
	<meta charset="UTF-8">
	<title>Workspace</title>
</head>

<body>
	<h1>Workspace</h1>
	<form action="/workspaces" method="post">
		<label for="workspace_name">Workspace Name:</label>
		<input type="text" id="workspace_name" name="workspace_name" required><br><br>

		<label for="workspace_description">Workspace Description:</label>
		<textarea id="workspace_description" name="workspace_description"></textarea><br><br>

		<input type="submit" value="Create">
	</form>
</body>

</html>